@media (min-width: 768px) {

    .nav-cont {
        grid-column: 1/3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #menu {
        display: none;
    }

    h1 {
        padding: 15px;
        font-size: 1.3rem;
        font-weight: 400;
    }

    nav {
        width: 100%;
        height: 100%;
    }
    nav ul {
        flex-direction: row;
    }

    nav li {
        display: flex;
    }

    nav a {
        font-size: 1rem;
        padding: 0 15px;
        width: 100%;
        height: 100%;
    }

    main {
        margin: 0 auto;
        text-align: center;
    }

    .temple-img {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        place-items: center;
    }


    footer p {
        font-size: 1rem;
    }

    #lastModified {
        font-size: .8rem;
    }
}

@media (min-width: 1050px) {
    .temple-img {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        place-items: center;
    }
}