*{
    --clr-bg-primary: rgb(111, 176, 236);
    --clr-border: rgba(47, 140, 228, 0.3);
}

body{
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid var(--clr-border) ;
    padding: 1rem;
    background-color: var(--clr-bg-primary);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: aliceblue;
}